<% provide(:title,"关于")%>
<h1>关于</h1>
<table>
    <tr>
        <td>作者:
        </td>
        <td>Taylor Chen
        </td>
    </tr>
    <tr>
        <td>QQ:
        </td>
        <td>353688193
        </td>
    </tr>
    <tr>
        <td>公司:
        </td>
        <td>UCAS
        </td>
    </tr>
</table>