<% provide(:title,"About")%>
<h1>About</h1>
<table>
    <tr>
        <td>Author:
        </td>
        <td>Taylor Chen
        </td>
    </tr>
    <tr>
        <td>QQ:
        </td>
        <td>353688193
        </td>
    </tr>
    <tr>
        <td>Company:
        </td>
        <td>UCAS
        </td>
    </tr>
</table>