<% provide(:title, 'All users') %>
<h1>所有用户</h1>
<%= will_paginate %>
<ul class="users">
    <%= render @users %>
    
<!--
<% @users.each do |user| %>
    <%= render user %>自定寻找一个名为 _user.html.erb 的局部视图
<% end %>
-->

</ul>

<%= will_paginate %>