<% provide(:title, @user.name) %>

<div class="row">
    <aside class="col-md-4">
        <!--用户信息-->
        <section class="user_info">
        <%= render 'shared/user_info' %>
        </section>

        <% if logged_in? && current_user?(@user) %>
        <!--发微博的文本框-->
        <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        </section>
        <% end %>
    </aside>
    
    <!--网址中的人的微博-->
    <div class="col-md-8">
        <h3>个人微博</h3>
        <%= render 'shared/feed' %>
    </div>
    
</div>
