    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
        <nav>
          <!--这是logo  -->
          <%= link_to image_tag("Micro Post.png", alt: "Micro Post"),root_path,id:"logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>