<!--这是模板文件  -->
<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- 其他view的内容被自动引入到这里 -->
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    

  </body>
</html>

